doctype html
html
    head
        title
        script(src='../src/build/jdoc.#{version}.js')
        script(src='index.js')
        link(rel='stylesheet', href='index.css')
    body
        input#file-field(type='file')
        #pages-container.pages-container
