doctype html
html
    head
        title
        script(src='../build/jdoc.#{version}.js')
        script(src='testDocsList.js')
        script(src='index.js')
        link(rel='stylesheet', href='index.css')
    body
        input#localFileField(type='file')
        select#remoteFileField
        #pages-container.pages-container
